.about {
  background-color: $black;
  border-top: 70px solid $white;
  margin-top: -70px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 44px;
    gap: 30px;
  }

  &__right,
  &__left {
    width: calc(50% - 15px);
  }

  &__right {
    padding-top: 33px;
  }

  &__img {
    width: 100%;
    height: 255px;
    margin-bottom: 25px;
    background-image: url(images/about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__label {
    display: block;
    font-family: 'TT Firs Neue';
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 15px;
    color: $white;
  }

  &__input {
    padding: 15px 23px;
    width: 474px;
    height: 50px;
    margin-right: 26px;
    margin-bottom: 26px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    color: $greyMedium;
    background: $blackLow;
    border: none;
    outline: none;
  }
}

.form-group {
  display: inline-block;
}

@media (max-width: 1199px) {
  .about {
    &__container {
      padding-bottom: 81px;
    }

    &__img {
      height: 332px;
      background-image: url(images/about2.jpg);
    }

    &__input {
      width: 342px;
      margin-bottom: 21px;
    }
  }
}

@media (max-width: 1023px) {
  .about {
    border-top: 125px solid $white;
    margin-top: -125px;

    &__container {
      padding-bottom: 61px;
    }

    &__img {
      height: 569px;
      background-image: url(images/about3.jpg);
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__input {
      width: 250px;
    }
  }
}

@media (max-width: 574px) {
  .about {
    &__img {
      height: 278px;
      background-image: url(images/about4.jpg);
    }

    &__container {
      flex-direction: column;
      gap: 21px;
      padding-bottom: 59px;
    }

    &__right {
      padding-top: 0px;
    }

    &__right,
    &__left {
      width: 100%;
    }

    &__label {
      font-size: 18px;
    }

    &__input {
      width: 278px;
      height: 40px;
    }
  }
}
