@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), local("RobotoRegular"),
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), local("RobotoBold"),
    url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeue-Regular"), local("TTFirsNeueRegular"),
    url("fonts/TTFirsNeue-Regular.woff2") format("woff2"),
    url("fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeue-Medium"), local("TTFirsNeueMedium"),
    url("fonts/TTFirsNeue-Medium.woff2") format("woff2"),
    url("fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeue-Bold"), local("TTFirsNeueBold"),
    url("fonts/TTFirsNeue-Bold.woff2") format("woff2"),
    url("fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
